@{
    ViewBag.Title = "Home Page";
}
    <div align="center" ,
        class="jumbotron">
        <h1>Christian Wandsø - Datatekniker</h1>
        <p class="lead"> Scroll ned for at læse mere</p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>KNAP TEMPLATE!!*@
    </div>
    <div class="alert alert-primary">
        <strong>Spørgsmål?</strong> Send mig en mail <a href="#">wandsoc@gmail.com</a>
    </div>

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>